.chooseContainer {
    width: 100%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-image: url('./../../assets/bg-triangle.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.firstOptions {
    width: 100%;
    display: flex;
    justify-content:space-around;
    opacity: 0;
    transform: translateY(40px);
    animation-name: slide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.secondOptions {
    width: 100%;
    display: flex;
    align-items:center; 
    justify-content:center;
    margin-top:5vh;
    opacity: 0;
    transform: translateY(-40px);
    animation-name: slide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes slide{
    to {
        opacity: 1;
        transform: initial;
    }
}