.screenContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}

.chooses,
.smallTexts {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.smallTexts span {
    margin-top:3vh;
    font-size:18px;
    font-family: 'Barlow Semi Condensed';
    color: white;
    font-weight:600;
}

.winner {
    margin-top:15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.winner h2 {
    font-size:60px;
    font-family: 'Barlow Semi Condensed';
    color: white;
    font-weight:600;
}

.winner button {
    width: 40%;
    min-width: 150px;
    padding: 15px 0;
    margin-top: 4vh;
    border-radius:10px;
    font-size:20px;
    font-family: 'Barlow Semi Condensed';
    color: var(--very-dark-blue);
    font-weight:600;
    letter-spacing: 2px;
    text-align: center;
}